<%- include("../partials/head") -%>
<%- include("../partials/nav") -%>

    <!-- CONTENT -->
    <div class="card">
        <div class="card-top">
            <p class="title"><%= thisPerson.name %></p>
            <img src="/images/<%= thisPerson.image %>" alt="Photo" />
        </div>
        <div class="card-bottom">
            <p><span style="color: #FCCF14;font-weight: bold;">Name:</span> <span style="font-style: italic;"> <%= thisPerson.name %></span></p>
            <p><span style="color: #FCCF14;font-weight: bold;">Note:</span> <%= thisPerson.notes %></p>
            <p><span style="color: #FCCF14;font-weight: bold;">Frequency:</span>  contact every <%= thisPerson.frequency %> days</p>
            <p><span style="color: #FCCF14;font-weight: bold;">Last Contact:</span> <%= thisPerson.date.toISOString().split('T')[0] %></p>
            <p><span style="color: #FCCF14;font-weight: bold;">Email:</span> <%= thisPerson.email %></p>
        </div>
    </div>

<%- include("../partials/footer") -%>